<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553931152302-jbn2vc0t2eubpub4g5d9rtid5iqiiqo1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553931152302-jbn2vc0t2eubpub4g5d9rtid5iqiiqo1</string>
	<key>API_KEY</key>
	<string>AIzaSyBG4GMyvV5b_oxHJYduuHD8CkrKCh_w2RI</string>
	<key>GCM_SENDER_ID</key>
	<string>553931152302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.datacubeinfo.hm.motors</string>
	<key>PROJECT_ID</key>
	<string>hm-motors</string>
	<key>STORAGE_BUCKET</key>
	<string>hm-motors.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553931152302:ios:87c1b14638a84f36b4463f</string>
</dict>
</plist>